 <div>
      <section id="contact">
        <h2 class="contact">Contact us</h2>
           <div class="contact_inner">
              <form action="/contact" method="POST">
                <label>Name</label>
                <input type="text" name="name">
                <label>Email</label>
                <input type="email" name="email">
                <label>Mobile Number</label>
                <input type="text" name="number">
                <label>Message</label>
                <input type="text" name="message">
                <input id="submit" type="submit">
              </form>
            </div>
      </section>
</div>
